

input {
    border-radius: 25px;
    width: 600px;
    height:30px;
    outline: none;
    border: 0;
    outline: none;
    background-color: darkgray;
}

input::placeholder {
    color: white;

}
.wd-gear {
    position: relative;
    margin-right: 12px;
    color: white;

}
.border {
    border-width: 1px;
    border-style: solid;
    /*padding-left: 12px;*/
    margin-left: 9px;
    padding-right: 20px;
    /*padding-bottom: 12px;*/
    /*padding-top: 12px;*/
    border-color: rgb(47, 51, 54);
    border-bottom-color:rgb(47, 51, 54);
    border-left-color:black;

}
.wd-youlink {
    position: relative;
    color: rgb(29,161,242);
    text-decoration: none;
    position: relative;
    font-size: 15px;
    padding: 16px;
    display:inline-block;
    border-bottom: 2px solid rgb(29,161,242);
    padding-bottom: 4px;
}
.wd-link {
    position: relative;
    color: rgb(110, 118, 125);
    text-decoration: none;
    font-size: 15px;
    padding: 16px;
}

.wd-postInfo {
    font-size: 13px;
    color: rgb(110, 118, 125);
    padding: 2px;
}

.wd-title {
    color: white;
    font-size: 20px;
    padding: 2px;
}

.wd-top-info {
    color: white;
    font-size: 13px;
}

.wd-newsImage{
    width:100px;
    height:100px;
    border-radius: 20px;
}
.wd-search-tuiter {
    bottom: 5px;
    left: 10px;

}





.icon-text-white {
    color: white;
    text-underline: black;
}

.wd-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:590px;

}